body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    right: 5%;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, button {
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

input[type="email"] {
    width: 381px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: rgb(251, 173, 28);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(117, 65, 0);
}

.astronaut {
    position: absolute;
    width: 500px; /* Adjust the size of the astronaut */
}

.astronaut-1 {
    top: 10%;
    left: 5%;
}

.astronaut-2 {
    top: 40%;
    left: 30%;
}

.astronaut-1 {
    animation: jiggle 0.5s infinite alternate;
}

@keyframes jiggle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px); /* Adjust the value to control the jiggle distance */
    }
}

.astronaut-2 {
    animation: jiggle 0.5s infinite alternate;
}

@keyframes jiggle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px); /* Adjust the value to control the jiggle distance */
    }
}
